/* @import "$HOME/.config/colors/colors.css" */
@import url("/home/olavorw/.cache/wal/colors-waybar.css");

* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 18px;
    font-weight: bold;
    background-color: transparent;
    border-radius: 5px;
    min-height: 0;
    padding: 0.5px;
}

window,
tooltip {
    background-color: @background;
}

#waybar {
    background: alpha(@background, 0.5);
    border-radius: 15;
    border: 2px solid @foreground;
}

#workspaces {
    margin: 2 0;
}

#workspaces button {
    color: @foreground;
    border: none;
    padding: 0 5px;
}
#workspaces button:hover {
    color: @color2;
    transition: none;
    border-bottom: 1px solid @color1;
    
    padding: 0 8px;
}

#workspaces button.active {
    color: @color2;
    border: 2px solid @color2;
    padding: 0 8px;
    margin: 0 2px;
}

#workspaces button.urgent {
    background-color: @color2;
    padding: 0 8px;
}

#custom-power,
#tray,
#bluetooth,
#network,
#battery,
#pulseaudio,
#clock {
    color: @foreground;
    margin: 1px 0;
    padding: 0 10px;
}

#custom-power:hover,
#bluetooth:hover,
#network:hover,
#battery:hover,
#pulseaudio:hover,
#clock:hover {
    background-color: alpha(@select, 0.6);
}

#bluetooth {
    color: @foreground;
}

#network {
    color: @foreground;
}

#battery {
    color: @foreground;
}

#pulseaudio {
    color: @foreground;
}

#clock {
    margin-right: 10px;
    color: @foreground;
}

#custom-power {
    margin-left: 10px;
    padding: 0px 10px 0 15px;
}
