@import url("~/.config/wlogout/colors.css");
/* ~/.config/wlogout/style.css */
window {
    background-color: rgba(0, 0, 0, 0.6);
}

button {
    background-color: @surface_container;
    border-radius: 12px;
    border: 2px solid @primary;
    color: @on_surface;
    font-size: 18px;
    padding: 20px;
    margin: 10px;
}

button:hover {
    background-color: @primary;
    color: @on_primary;
}