* {
  background: rgba(16, 20, 23, 0.8);
  background-alt: #41474d;
  foreground: #e0e3e8;
  selected: #96cdf8;
  active: #96cdf8;
  urgent: #ffb4ab;
}

inputbar {
    background-image: url("/home/olavorw/Pictures/Wallpapers/Golden Hour/a_train_on_the_tracks.jpg", width);
}
