* {
  background: rgba(17, 20, 15, 1);
  background-alt: #43483f;
  foreground: #e1e4d9;
  selected: #a8d292;
  active: #a8d292;
  urgent: #ffb4ab;
}

inputbar {
    background-image: url("/home/olavorw/Pictures/Wallpapers/Aurora/aurora-mountain-lake.jpg", width);
}
