* {
  background: rgba(14, 20, 21, 0.8);
  background-alt: #3f4949;
  foreground: #dde4e3;
  selected: #80d4d6;
  active: #80d4d6;
  urgent: #ffb4ab;
}

inputbar {
    background-image: url("/home/olavorw/Pictures/Wallpapers/Forest/a_wooden_stairs_in_a_forest.jpg", width);
}
